*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 100vw;
    width: 100%;
    background-color:  indigo;
}
.page2{
    height: 100vw;
    width: 100%;
background-color: indianred;}
.page3{
    height: 100vw;
    width: 100%;
    background-color:gray ;
    
}